<!--Add Product-->
<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Add Product</h4>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" ng-submit="addProduct(name, description, price, productCategory)">

                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label  h6">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" ng-model="name" />
                    </div>
                    <label for="inputDescription" class="col-sm-2 control-label h6">Descr:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDescription" ng-model="description" />
                    </div>
                    <label for="inputPrice" class="col-sm-2 control-label  h6">price:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPrice" ng-model="price" />
                    </div>

                    <label for="selectParentCategoryId" class="col-sm-2 control-label  h6">Category:</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="productCategory" data-ng-options="cate.CategoryName for cate in categories | orderBy: 'CategoryName'"></select>
                    </div>

                </div>
                <input class="btn btn-info btn-primary btn-sm" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>